*{
    box-sizing: border-box;
}


body {
    text-align: center;
    align-content: center;
    display: grid;
}
h1, #image, #message, #enter, #start, #input1, #textbox, #ad {
    border: 1px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
}





h1{
    color: white;    
    background-color: silver;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
#blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: red;}
    100%{   color: transparent;}
}




#message {
    color: purple;
    font-size: 20px;
    font-weight: bold; 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 400px;
}
#image { 
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 400px;
    background-color: paleturquoise;
}
#start {
    color: white;
    background-color: green;
    font-size: 20px; 
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    width: 400px;
}




#myUl{
    text-align: left; 
    grid-column: 1 / 2;
    grid-row: 2 / 4; 
    height: 500px;
    border: 1px solid black;
    background-color: black;
    color: white;
    margin: 0;
}
li {
    text-align: left;
}
#input1 {
    color: purple;
    font-size: 20px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    max-height: 100px;
}
#enter{
    background-color: red; 
    color: white;
    font-size: 20px;
    grid-column: 1 / 2;
    grid-row: 5 / 6;

}



#ad {
    background-color: orange;
    grid-column: 3 / 4;
    grid-row: 2 / 6;
}